<h1 class="center">Welcome to Organizer!</h1>

<br>

<div class="row">
  <div class="col-md-4">
    <p>Recently Changed:</p>
  </div>

  <div class="col-md-4">
    <p>Getting Started:</p>
  </div>

  <div class="col-md-4">
    <p>Popular Tags:</p>
  </div>
</div>
